.desserts-container {
    position: relative;
    overflow-x: hidden;
    background-color: beige;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .left-image,
  .right-image {
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    z-index: -1;
  }
  
  .left-image {
    left: -200px; /* Adjust as needed */
  }
  
  .right-image {
    right: -200px; /* Adjust as needed */
  }
  
  .content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  