body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.home-background {
  background-image: url('https://media.istockphoto.com/id/1457979929/photo/abundance-snack-and-fast-food-on-wooden-table-in-restaurant-new-restaurant-menu-and-alcohol.jpg?s=612x612&w=0&k=20&c=oVG_L7VCLnVEbUQxgd-9jnal-HaKRZu00PPoA6G5zUc='); /* Use the actual URL of your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-background {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.about-background {
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.header {
  margin-top: 1px;
  color: white;
  margin-bottom: 130px;
  text-shadow: 2px 4px 3px rgba(1, 1, 1, 1);
  height: 15vh; /* Set header height to viewport height */
  display: flex;
  justify-content: center; 
}

.animated-quote {
  animation: fadeIn 5s infinite;
  color: #ffffff;
  font-size: 60px;
  margin-top: auto; /* Push the quote to the middle */
  margin-bottom: 10%;
  font-family: 'Acme', sans-serif; /* Change font family */
  font-weight: bold; /* Change font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 4px; /* Add letter spacing */
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-white {
  color: #ffffff;
  font-size: x-large;
  font-weight: bolder;
}

/* Responsive Styles */
@media (max-width: 375px) { /* Mobile */
  .animated-quote {
    font-size: 10px; /* Smaller font size for mobile */
    margin-bottom: 20%; /* Adjust margin for smaller screens */
  }

  .header {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
    height: auto; /* Allow height to adjust */
  }
}

@media (max-width: 425px) { /* Mobile */
  .animated-quote {
    font-size: 20px; /* Smaller font size for mobile */
    margin-bottom: 20%; /* Adjust margin for smaller screens */
  }

  .header {
    margin-bottom: 30px; /* Adjust margin for smaller screens */
    height: auto; /* Allow height to adjust */
  }
}

@media (max-width: 768px) { /* Tablet */
  .animated-quote {
    font-size: 40px; /* Slightly smaller font size for tablets */
    margin-bottom: 15%; /* Adjust margin */
  }

  .header {
    margin-bottom: 70px; /* Adjust margin for tablet screens */
    height: auto; /* Allow height to adjust */
  }
}
